@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171717;
  background: #645f5f;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
